@page "/"
@inject GenericRepository<ApplicationInfo> repo
@using DoreanStore.Models
@using DoreanStore.Repositories
@using DoreanStore.Services

@if (applicationInfos is not null)
{
    <div style="display:flex;align-content:center;justify-content:center;flex-direction:row; flex-wrap:wrap;gap:5px;justify-items:center; align-items:center">
        @foreach (var app in applicationInfos)
        {
            <AppCard App="app" ></AppCard>
        }
    </div>
}

@code {
    private IEnumerable<ApplicationInfo> applicationInfos;
    private IEnumerable<string> categories;

    protected override async Task OnInitializedAsync()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            applicationInfos = repo.GetAll()!.Take(500).ToList();
            StateHasChanged();
        }
    }
}
