@page "/"
@inject FdroidService _is
@inject IOService _io
@inject GenericRepository<ApplicationInfo> _repo
@using DoreanStore.Models
@using DoreanStore.Repositories
@using DoreanStore.Services
@inject IJSRuntime js
@inject GenericRepository<ApplicationInfo> repo
@using DoreanStore.Models
@using DoreanStore.Repositories
@if (applicationInfos is not null)
{
    <div style="display:flex;align-content:center;justify-content:center;flex-direction:row; flex-wrap:wrap;gap:5px;justify-items:center; align-items:center">
        @foreach (var app in applicationInfos)
        {
            <AppCard App="app" ></AppCard>
        }
    </div>
}

@code {
    private IEnumerable<ApplicationInfo> applicationInfos;

    protected override async Task OnInitializedAsync()
    {
        applicationInfos = repo.GetAll()!.Take(100).ToList();
        StateHasChanged();
    }
}
